.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 60px;
    color: white;

    h2 {
        margin-bottom: 40px;
    }

    .passport {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;

        .text {
            width: 700px;
        }
    }
}

.wrapper__video {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn__assessment {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    button {
        width: 200px;
        height: 40px;
        border: 0;
        outline: 0;
        border-radius: 10px;
        background: #959DAB;
        cursor: pointer;
    }
}

.assessment {
    width: 840px;
    height: 660px;
    position: absolute;
    top: 350px;
    left: 340px;
    background: #959DAB;
    border-radius: 20px;
}





.assessment {
    padding: 20px 0;
    h2 {
        text-align: center;
        margin-top: 10px;
    }

    .info {
        padding: 0 20px;
        font-size: 16px;
        text-align: center;
    }
}


.table_box {
    margin: 20px auto;

    .table_row {
        display: table;
        width: 90%;
        margin: 10px auto;
        font-family: sans-serif;
        background: transparent;
        padding: 12px 0;
        color: #555;
        font-size: 13px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 50, .3);
        cursor: pointer;
        background: rgba(255, 255, 255, .7);
        border-radius: 30px;

        .table_ceil {
            display: table-cell;
            width: 15%;
            text-align: center;
            padding: 4px 0;
            border-right: 1px solid black;
            vertical-align: middle;
        }

        .last_ceil {
            border-right: none;
        }
    }

    .table_head {
        background: #9b3ca8;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
        opacity: 0.7;
        color: #000;
        font-weight: 600;

        .table_ceil {
            border-right: none;
        }
    }
}

.nav__btn {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;

    button {
        width: 200px;
        height: 40px;
        border-radius: 10px;
        outline: 0;
        border: 0;
        background: #9b3ca8;
        margin-bottom: 40px;
        cursor: pointer;
    }
}

input {
    width: 21%;
    box-sizing: border-box;
    outline: none;
    border-radius: 5px;
    padding: 0 10px;
}